label, input {
     display:block;
}
input.text {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
}
fieldset { 
    padding:0; 
    border:0; 
    margin-top:25px; 
}
h1 { 
    font-size: 1.2em; 
    margin: .6em 0; 
}
div#users-contain { 
    width: 350px; 
    margin: 20px 0; 
}
div#users-contain table { 
    margin: 1em 0; 
    border-collapse: collapse; 
    width: 100%; 
}
div#users-contain table td, div#users-contain table th { 
    border: 1px solid #eee; 
    padding: .6em 10px; 
    text-align: left; 
}
.ui-dialog .ui-state-error { 
    padding: .3em; 
}
.validateTips { 
    border: 1px solid transparent; 
    padding: 0.3em; 
}
.rectBtnPlus{
    width:50px;
    height:50px;
    background-color: rgba(0,0,0,0.5);
}
.rectBtnPlus:hover{
    background-color: rgb(173, 58, 58);
}
.draggableCat{
    background: #80b438;
}
.formMain {
    margin: 20px;
    margin-right: 20px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 5px;
    background: RGBA(255,255,255,1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
    height: 100%;
}
.textBox{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}
.formSubmitBtn{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 0px solid;
    box-sizing: border-box;
    padding: 10px;
    background: #90c843;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    transition: background .4s;
    cursor: pointer;
    text-align: center;
    
}
.formSubmitBtn:hover{
    background: #80b438;
}
.headerBox{
    background: orange;
    position: fixed;
    width: 100%;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    top: 0%;
    left: 0%;
    text-align: center;
    color: #FFF;
    font-size: 16pt;
    z-index: 9999;

}
#loginPopup{
    /*visibility: hidden;*/
}
#logTransaction{
    max-width: 600px;
    margin-top: 20px;
    margin: 20 auto;
}
#logTransaction div{
    margin: 5px auto;
    /* max-width: 400px; */
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    /* background: RGBA(255,255,255,1); */
    /* -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .45);
}
#logTransaction span{
    margin-left: 5px;
}
.closeBtn{
    width: 17px;
    height: 17px;
    content: "X";
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .45);
    display: inline-block;
    margin-right: 0%;
}